  <%= form_with(model: event, class: "event-form") do |f| %>

    <%= render "shared/errors", object: event %>

    <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="form-field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>

    <div class="form-field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

    <div class="form-field">
      <%= f.label :price %>
      <%= f.number_field :price %>
    </div>

    <div class="form-field">
      <%= f.label :starts_at %>
      <%= f.datetime_select :starts_at, {ampm: true}, {class: "datetime-select"} %>
    </div>

    <div class="form-field">
      <%= f.label :capacity %>
      <%= f.number_field :capacity %>
    </div>

    <div class="form-fiel">
      <%= f.label :image_file_name %>
      <%= f.text_field :image_file_name %>
    </div>

    <%= f.submit%>
  <% end %>